#TeamForm-Login {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}

#TeamForm-RestoreAccountButton {
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
}

#TeamForm-Caption {
	font-family: "Roboto Light";
	letter-spacing: 3px;
}

@media (min-width: 992px) {
	#TeamForm-Login {
		padding-left: 45px;
		max-width: 650px;
		padding-top: 200px;
	}

	#TeamForm-RestoreAccountButton {
		font-size: 15px;
		padding-left: 45px;
	}
}



