/* Mobile and common layouts below */
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#ContentContainer {
	padding: 0;
	height: 100%;
}

#Content-Main {
	background-color: #ffffff;
	padding: 10px;
}

#MainActionButtons-Filter {
	width: 80px;
}

.NavButton {
	cursor: pointer;
}

.MobileOnly, form.TeamForm.MobileOnly {
	display: flex !important;
}

.DesktopOnly, form.TeamForm.DesktopOnly {
	display: none !important;
}

.ContentHeader-SectionNav {
	font-family: "Roboto";
	letter-spacing: 1px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ContentHeader-ActiveSectionName {
	font-family: "Roboto Medium";
	font-size: 24px;
}

#TeamForm-Error {
	width: inherit;
}

#MGPCopyright {
	font-family: "Roboto Light";
	font-size: 13px;
	padding-left: 30px;
}

/* Desktop-only layouts below */
@media (min-width: 992px) {
	.MobileOnly, form.TeamForm.MobileOnly {
		display: none !important;
	}

	.DesktopOnly, form.TeamForm.DesktopOnly {
		display: flex !important;
	}

	#MGPCopyright {
		padding-left: 0px;
	}

	.NavButton-Side {
		cursor: pointer;
		width: 70px;
		padding-left: 50%;
	}
	
	.NavButtonActive {
		background-color: #000000;
	}
	
	.TableSelectAllRowsColumn {
		max-width: 30px;
		padding-left: 5px;
		padding-right: 0px;
	}
	
	.TableSelectAllRowsCheck {
		margin-left: 10px;
		margin-right: 10px;
	}

	#NavMenu-Side-About {
		font-family: "Roboto Light";
		font-size: 13px;
		margin-left: 5% !important;
		margin-right: 0 !important;
	}
	
	.NavMenu-Side-Spacer {
		margin-top: 60px;
	}

	.NavMenu-Side {
		max-width: 70px;
		background-color: #212121;
	}

	.Table {
		border: 1px solid #484848;
	}
	
	.TableColumnDescriptorRow {
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #484848;
		color: #ffffff;
		font-family: "Roboto Medium";
	}
	
	.TableDataRow {
		font-family: "Roboto";
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid #484848;
	}
	
	.TableColumn {
	}
}