/* Mobile and common layouts below */
.TeamHeader {
	background-color: #484848;
}

#MGPLogo-Square {
	background-image: url('../media/img/logos/mgpstudio_square.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 45px;
	min-width: 45px;
}

#MGPLogo-Long {
	background-image: url('../media/img/logos/mgpstudio_long.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 40px;
	min-width: 130px;
}

.Icon-MobileMenuButton {
	background-image: url('../media/img/buttons/button_mobile_menu.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 30px;
	min-width: 30px;
	border: none;
}

.Icon-SignOutButton {
	background-image: url('../media/img/buttons/button_sign_out.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-NotificationsOverlayButton-Clear {
	background-image: url('../media/img/buttons/button_sign_out.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-MGPMenuOverlayButton {
	background-image: url('../media/img/buttons/button_mgp_menu.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-NetworkStatusButton-Online, .Icon-UpdateButton {
	background-image: url('../media/img/buttons/button_update.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-AccountButton-NoAvatar {
	background-image: url('../media/img/buttons/button_account.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-SearchButton {
	background-image: url('../media/img/buttons/button_search.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 20px;
	min-height: 20px;
	border: none;
}

#CARTSearchForm.MobileOnly {
	width: 360px;
}

.CARTSearchForm-Input {
	width: 100% !important;
}

.NavButton {
	padding-left: 4px !important;
}

.NavButton:active, .NavButton-Rect:active {
	background-color: #212121;
}
.NavButton-Rect, .NavButton {
	background-color: transparent;
}

/* Desktop-only layouts below */
@media (min-width: 992px) {
	.TeamHeader {
		background-color: #484848;
		height: 55px;
	}

	#CARTSearchForm.DesktopOnly {
		width: 550px;
	}

	.Icon-AccountButton-NoAvatar {
		background-image: url('../media/img/buttons/button_account.png');
		background-size: 100%;
		background-repeat: no-repeat;
		min-width: 30px;
		min-height: 30px;
		border: none;
	}

	.NavButton {
		border-radius: 50%;
		width: 45px;
		height: 45px;
		margin-left: 18px !important;
		padding-left: 6px !important;
	}
}