/* Mobile and common layouts below */
.Icon-SectionButton-Bugs {
	background-image: url('../media/img/buttons/button_section_bugs.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-SectionButton-Events {
	background-image: url('../media/img/buttons/button_section_events.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-SectionButton-Apps {
	background-image: url('../media/img/buttons/button_section_apps.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

.Icon-SectionButton-Settings {
	background-image: url('../media/img/buttons/button_section_settings.png');
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 30px;
	min-height: 30px;
	border: none;
}

/* Desktop-only layouts below */
@media (min-width: 992px) {
	.NavButton-Side-Active, .NavButton-Side:active {
		background-color: #000000;
	}
}