#Overlay-MGPConnectionStatus-Container {
	min-width: 200px;
	padding: 0px;
}

.Overlay-MGPConnectionStatus-Label {
	font-family: "Roboto Light";
}

.Overlay-MGPConnectionStatus-Value {
	font-family: "Roboto Medium";
}